{% extends 'base_with_links.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Welcome' %}{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('#next').on('click', function() {
        startResponse();
        Resource.delete('selected-comments');
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div>
    <p class="center">
      
    </p>
    <p class="center">
      {% blocktrans trimmed %}
        {{ num_responses }} so magEngud na sumimbag.
      {% endblocktrans %}
    </p>
    <p class="center">
      {% trans 'Pamangped kanu!' %}
    </p>
    <img src="{% static 'img/flip.png' %}">
<p align="justify">
Sa gya kyasumbag akun, pagayun ako na kabaya ganawa akun a myapud akun sa gya "E-participation Project on Zero Extreme Poverty". Katawan ako na so lagun a matatago information ago sumbag a myatimo a mingulalan ko igagama/instrument na pagusarun para sa research purpose a National University Manila and De La Salle Philippines.
</p>
  </div>
  {% url 'pcari:quantitative-questions' as next_link %}
  {% trans 'Puon/pagpuon' as next_label %}
  {% include 'nav-buttons.html' %}
{% endblock %}
