{% extends 'base_with_links.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Welcome' %}{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('#next').on('click', function() {
        startResponse();
        Resource.delete('selected-comments');
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div>
    <p class="center">
      
    </p>
    <p class="center">
      {% blocktrans trimmed %}
        {{ num_responses }} miyembro na ng komunidad ang tumugon.
      {% endblocktrans %}
    </p>
    <p class="center">
      {% trans 'Makiisa na sa kanila!' %}
    </p>
    <img src="{% static 'img/flip.png' %}">
<p align="justify">
Sa pagsagot nito, boluntaryo kayong sumasang-ayon na makibahagi sa E-Participation Project na ito ng National University, Philippines at University of California Berkley, sa pakikipagtulungan ng De La Salle Philippines at Mindanao State University, Iligan City na pinondohan ng Philippine-California Advanced Research Institutes (PCARI). Batid ko na lahat ng impormasyon at tugon na makakalap sa pamamagitan ng toolkit na ito ay gagamitin para sa pagsulong ng Zero Extreme Poverty Initiative sa Pilipinas.
</p>
  </div>
  {% url 'pcari:quantitative-questions' as next_link %}
  {% trans 'Simulan' as next_label %}
  {% include 'nav-buttons.html' %}
{% endblock %}
