{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      displayNoCurrentRespondentError();

      function initializeField(inputElement, path, preprocess = x => x) {
        inputElement.on('input', function() {
          var value = preprocess($(this).val()) || null;
          if (value === null) {
            deleteResponseValue(path);
          } else {
            setResponseValue(path, value);
            inputElement.val(value);
          }
        });

        var value = getResponseValue(path);
        if (value !== undefined) {
          inputElement.val(value);
        }
      }

    /*  var clipAge = makeClipped(1, 120);
      initializeField($('#age'), ['respondent-data', 'age'], function(rawValue) {
        var age = parseInt(rawValue);
        return isNaN(age) ? null : clipAge(age);
      });
      initializeField($('#gender'), ['respondent-data', 'gender']); */

// ----------------------
// ---------- Starts here
// ----------------------
	initializeField($('#name'), ['respondent-data', 'name']);
	initializeField($('#address'), ['respondent-data', 'address']);
	initializeField($('#contact'), ['respondent-data', 'contact']);
	initializeField($('#group'), ['respondent-data', 'group']);
	initializeField($('#PS'), ['respondent-data', 'PS']);
	initializeField($('#interviewer'), ['respondent-data', 'interviewer']);
	initializeField($('#organization'), ['respondent-data', 'organization']);

// ----------------------
// ----------- Profilling
// ----------------------

// -------------------- 1	
	initializeField($('#PPiIName'), ['respondent-data', 'PPiIName']);
	initializeField($('#PPiIAge'), ['respondent-data', 'PPiIAge']);
	initializeField($('#PPiIGender'), ['respondent-data', 'PPiIGender']);
	initializeField($('#PPiIQI'), ['respondent-data', 'PPiIQI']);
	initializeField($('#PPiIQII'), ['respondent-data', 'PPiIQII']);
	initializeField($('#PPiIQIII'), ['respondent-data', 'PPiIQIII']);
	initializeField($('#PPiIQIV'), ['respondent-data', 'PPiIQIV']);

// -------------------- 2	
	initializeField($('#PPiIIName'), ['respondent-data', 'PPiIIName']);
	initializeField($('#PPiIIAge'), ['respondent-data', 'PPiIIAge']);
	initializeField($('#PPiIIGender'), ['respondent-data', 'PPiIIGender']);
	initializeField($('#PPiIIQI'), ['respondent-data', 'PPiIIQI']);
	initializeField($('#PPiIIQII'), ['respondent-data', 'PPiIIQII']);
	initializeField($('#PPiIIQIII'), ['respondent-data', 'PPiIIQIII']);
	initializeField($('#PPiIIQIV'), ['respondent-data', 'PPiIIQIV']);

// -------------------- 3	
	initializeField($('#PPiIIIName'), ['respondent-data', 'PPiIIIName']);
	initializeField($('#PPiIIIAge'), ['respondent-data', 'PPiIIIAge']);
	initializeField($('#PPiIIIGender'), ['respondent-data', 'PPiIIIGender']);
	initializeField($('#PPiIIIQI'), ['respondent-data', 'PPiIIIQI']);
	initializeField($('#PPiIIIQII'), ['respondent-data', 'PPiIIIQII']);
	initializeField($('#PPiIIIQIII'), ['respondent-data', 'PPiIIIQIII']);
	initializeField($('#PPiIIIQIV'), ['respondent-data', 'PPiIIIQIV']);

// -------------------- 4
	initializeField($('#PPiIVName'), ['respondent-data', 'PPiIVName']);
	initializeField($('#PPiIVAge'), ['respondent-data', 'PPiIVAge']);
	initializeField($('#PPiIVGender'), ['respondent-data', 'PPiIVGender']);
	initializeField($('#PPiIVQI'), ['respondent-data', 'PPiIVQI']);
	initializeField($('#PPiIVQII'), ['respondent-data', 'PPiIVQII']);
	initializeField($('#PPiIVQIII'), ['respondent-data', 'PPiIVQIII']);
	initializeField($('#PPiIVQIV'), ['respondent-data', 'PPiIVQIV']);

// -------------------- 5
	initializeField($('#PPiVName'), ['respondent-data', 'PPiVName']);
	initializeField($('#PPiVAge'), ['respondent-data', 'PPiVAge']);
	initializeField($('#PPiVGender'), ['respondent-data', 'PPiVGender']);
	initializeField($('#PPiVQI'), ['respondent-data', 'PPiVQI']);
	initializeField($('#PPiVQII'), ['respondent-data', 'PPiVQII']);
	initializeField($('#PPiVQIII'), ['respondent-data', 'PPiVQIII']);
	initializeField($('#PPiVQIV'), ['respondent-data', 'PPiVQIV']);

// -------------------- 6
	initializeField($('#PPiVIName'), ['respondent-data', 'PPiVIName']);
	initializeField($('#PPiVIAge'), ['respondent-data', 'PPiVIAge']);
	initializeField($('#PPiVIGender'), ['respondent-data', 'PPiVIGender']);
	initializeField($('#PPiVIQI'), ['respondent-data', 'PPiVIQI']);
	initializeField($('#PPiVIQII'), ['respondent-data', 'PPiVIQII']);
	initializeField($('#PPiVIQIII'), ['respondent-data', 'PPiVIQIII']);
	initializeField($('#PPiVIQIV'), ['respondent-data', 'PPiVIQIV']);
	
// -------------------- 7
	initializeField($('#PPiVIIName'), ['respondent-data', 'PPiVIIName']);
	initializeField($('#PPiVIIAge'), ['respondent-data', 'PPiVIIAge']);
	initializeField($('#PPiVIIGender'), ['respondent-data', 'PPiVIIGender']);
	initializeField($('#PPiVIIQI'), ['respondent-data', 'PPiVIIQI']);
	initializeField($('#PPiVIIQII'), ['respondent-data', 'PPiVIIQII']);
	initializeField($('#PPiVIIQIII'), ['respondent-data', 'PPiVIIQIII']);
	initializeField($('#PPiVIIQIV'), ['respondent-data', 'PPiVIIQIV']);

// -------------------- 8
	initializeField($('#PPiVIIIName'), ['respondent-data', 'PPiVIIIName']);
	initializeField($('#PPiVIIIAge'), ['respondent-data', 'PPiVIIIAge']);
	initializeField($('#PPiVIIIGender'), ['respondent-data', 'PPiVIIIGender']);
	initializeField($('#PPiVIIIQI'), ['respondent-data', 'PPiVIIIQI']);
	initializeField($('#PPiVIIIQII'), ['respondent-data', 'PPiVIIIQII']);
	initializeField($('#PPiVIIIQIII'), ['respondent-data', 'PPiVIIIQIII']);
	initializeField($('#PPiVIIIQIV'), ['respondent-data', 'PPiVIIIQIV']);
	

// -------------------- 9
	initializeField($('#PPiIXName'), ['respondent-data', 'PPiIXName']);
	initializeField($('#PPiIXAge'), ['respondent-data', 'PPiIXAge']);
	initializeField($('#PPiIXGender'), ['respondent-data', 'PPiIXGender']);
	initializeField($('#PPiIXQI'), ['respondent-data', 'PPiIXQI']);
	initializeField($('#PPiIXQII'), ['respondent-data', 'PPiIXQII']);
	initializeField($('#PPiIXQIII'), ['respondent-data', 'PPiIXQIII']);
	initializeField($('#PPiIXQIV'), ['respondent-data', 'PPiIXQIV']);

// -------------------- 10
	initializeField($('#PPiXName'), ['respondent-data', 'PPiXName']);
	initializeField($('#PPiXAge'), ['respondent-data', 'PPiXAge']);
	initializeField($('#PPiXGender'), ['respondent-data', 'PPiXGender']);
	initializeField($('#PPiXQI'), ['respondent-data', 'PPiXQI']);
	initializeField($('#PPiXQII'), ['respondent-data', 'PPiXQII']);
	initializeField($('#PPiXQIII'), ['respondent-data', 'PPiXQIII']);
	initializeField($('#PPiXQIV'), ['respondent-data', 'PPiXQIV']);

// ----------------------
// ---------- Ends here
// ----------------------

      setResponseValue(['respondent-data', 'submitted-personal-data'], true);

   /*   var locations = Resource.load('locations').data;
      for (var id in locations) {
        var location = locations[id];
        $('#barangay').append($('<option value="' + id + '">' + location.division + '</option>'));
      }
      $('#barangay').append($('<option value="other">' + gettext('Other') + '</option>'));
      initializeField($('#barangay'), ['respondent-data', 'division']);

      var barangayExpand = function() {
        if ($('#barangay').val() === 'other') {
          var row = $('<tr id="barangay-name-row">').append('<td>Barangay Name</td>').append('<td><input type="text" id="barangay-name"></td>');
          $('#questions').append(row);
          initializeField($('#barangay-name'), ['respondent-data', 'new-division']);
        } else {
          $('#barangay-name-row').remove();
          deleteResponseValue(['respondent-data', 'new-division']);
        }
      };
      $('#barangay').on('input', barangayExpand);
      barangayExpand();

      initializeField($('#sector'), ['respondent-data', 'sector']);
*/

      $('#next > a').on('click', function(event) {
        setResponseValue(['respondent-data', 'completed-survey'], true);
      });
    });
  </script>
{% endblock %}

{% block title %}{% trans 'Personal a mga atoran' %}{% endblock %}
{% block main-heading %}{% trans 'Personal a mga atoran' %}{% endblock %}

{% block content %}
  <div class="container">
    <p class="center">
      {% blocktrans trimmed %}
        All questions on this page are strictly optional.
        Your responses will be anonymous.
      {% endblocktrans %}
    </p>
  <table style="margin: 0 auto;">
    <tbody id="questions">

	<tr>
		<td>Ngaran</td>
        	<td><input type="text" id="name"></td>
      	</tr>
	<tr>
		<td>Babalingan</td>
        	<td><input type="text" id="address"></td>
      	</tr>
	<tr>
		<td>Contact Number</td>
        	<td><input type="text" id="contact"></td>
      	</tr>
	<tr>
		<td>Pangkatan ko mga IP</td>
        	<td><input type="text" id="group"></td>
      	</tr>
	<tr>
		<td>4Ps/MCCT/GIDA</td>
		<td>
			<select id="PS">
	            		<option value="" selected>Piliin</option>
	            		<option value="4Ps">4Ps</option>
	           		<option value="MCCT">MCCT</option>
				<option value="GIDA">GIDA</option>
	          	</select>
		</td>
      	</tr>
	<tr>
		<td>Dimamakaisa</td>
        	<td><input type="text" id="interviewer"></td>
      	</tr>
	<tr>
		<td>Ompungan</td>
        	<td><input type="text" id="organization"></td>
      	</tr>
	
<!--	<tr>
		<td>PPI Scorecard for Person#1</td>
        	<td><input type="text" id="PPiI"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#2</td>
        	<td><input type="text" id="PPiII"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#3</td>
        	<td><input type="text" id="PPiIII"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#4</td>
        	<td><input type="text" id="PPiIV"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#5</td>
        	<td><input type="text" id="PPiV"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#6</td>
        	<td><input type="text" id="PPiVI"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#7</td>
        	<td><input type="text" id="PPiVII"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#8</td>
        	<td><input type="text" id="PPiVIII"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#9</td>
        	<td><input type="text" id="PPiIX"></td>
      	</tr>
	<tr>
		<td>PPI Scorecard for Person#10</td>
        	<td><input type="text" id="PPiX"></td>
      	</tr> -->
	<! -- End here -->
      <!--<tr>
        <td>{% trans 'Age' %}</td>
        <td><input id="age" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
      </tr> 
      <tr>
        <td>{% trans 'Gender' %}</td>
        <td>
          <select id="gender">
            <option value="" selected>{% trans 'Select gender' %}</option>
            <option value="M">{% trans 'Male' %}</option>
            <option value="F">{% trans 'Female' %}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Barangay' %}</td>
        <td>
          <select id="barangay">
            <option value="" selected>{% trans 'Select barangay' %}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Sector' %}</td>
        <td>
          <select id="sector">
            <option value="" selected>{% trans 'Select sector' %}</option>
            <option value="LGBT">{% trans 'LGBT' %}</option>
            <option value="Senior Citizen">{% trans 'Senior Citizen' %}</option>
            <option value="Youth">{% trans 'Youth' %}</option>
            <option value="Women">{% trans 'Women' %}</option>
            <option value="PWD">{% trans 'PWD' %}</option>
            <option value="Religious Organization">{% trans 'Religious Organization' %}</option>
          </select>
        </td>
      </tr>-->
    </tbody>
  </table>
	Profilling Form	
<hr/>
  <table class="table table-fixed table-bordered table-striped table-hover" style="margin: 0 auto">
    <thead align="center">
        <td> # </td>
        <td> Ngaran </td>
        <td> Edad </td>
        <td> Mama o babai </td>
        <td> O edad eyan na 5 taman 18 di syaniyan di mgeskwela?  </td>
        <td> O edad eyan na 5 o subra, ba ska nyan kyasukayan sa kagalbuk oman oras sa gya mya pito gawii?  </td>
        <td> So okit o kawiwiyag a galbek sa gya miyakapito gawii na kambasok, kapangisda, salinggugupa o pud a galbek?  </td>
        <td> Pira myakuwa a sukay? Oba uman salongan, uman pitogawii odi na uman saulan? </td>
    </thead>
    <tbody id="questions">
      <tr>
        <td>1</td>
        <td><input id="PPiIName" type="text"></td>
        <td><input id="PPiIAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiIGender">
            <option value="" selected>Mama o babai</option>
           <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
	<td>
          <select id="PPiIQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiIQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiIQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiIQIV" type="text"> </td>
      </tr>
      <tr>
        <td>2</td>
        <td><input id="PPiIIName" type="text"></td>
        <td><input id="PPiIIAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiIIGender">
            <option value="" selected>Mama o babai</option>
           <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
        <td>
          <select id="PPiIIQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiIIQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiIIQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiIIQIV" type="text"> </td>
      </tr>
      <tr>
        <td>3</td>
        <td><input id="PPiIIIName" type="text"></td>
        <td><input id="PPiIIIAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiIIIGender">
            <option value="" selected>Mama o babai</option>
           <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
	<td>
          <select id="PPiIIIQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiIIIQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiIIIQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiIIIQIV" type="text"> </td>
      </tr>
      <tr>
        <td>4</td>
        <td><input id="PPiIVName" type="text"></td>
        <td><input id="PPiIVAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiIVGender">
            <option value="" selected>Mama o babai</option>
          <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
        <td>
          <select id="PPiIVQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiIVQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiIVQIII">
            <option value="" selected>Piliin</option>
            <option value="M">Da galbek</option>
            <option value="F">Oway</option>
	    <option value="F">Di</option>
          </select>
	</td>
        <td> <input id="PPiIVQIV" type="text"> </td>
      </tr>
      <tr>
        <td>5</td>
        <td><input id="PPiVName" type="text"></td>
        <td><input id="PPiVAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiVGender">
            <option value="" selected>Mama o babai</option>
            <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
        <td>
          <select id="PPiVQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiVQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiVQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiVQIV" type="text"> </td>
      </tr>
      <tr>
        <td>6</td>
        <td><input id="PPiVIName" type="text"></td>
        <td><input id="PPiVIAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiVIGender">
            <option value="" selected>Mama o babai</option>
            <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
	<td>
          <select id="PPiVIQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiVIQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiVIQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiVIQIV" type="text"> </td>
      </tr>
      <tr>
        <td>7</td>
        <td><input id="PPiVIIName" type="text"></td>
        <td><input id="PPiVIIAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiVIIGender">
            <option value="" selected>Mama o babai</option>
            <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
        <td>
          <select id="PPiVIIQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiVIIQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiVIIQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiVIIQIV" type="text"> </td>
      </tr>
      <tr>
        <td>8</td>
        <td><input id="PPiVIIIName" type="text"></td>
        <td><input id="PPiVIIIAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiVIIIGender">
            <option value="" selected>Mama o babai</option>
            <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
        <td>
          <select id="PPiVIIIQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiVIIIQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiVIIIQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiVIIIQIV" type="text"> </td>
      </tr>
      <tr>
        <td>9</td>
        <td><input id="PPiIXName" type="text"></td>
        <td><input id="PPiIXAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiIXGender">
            <option value="" selected>Mama o babai</option>
            <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
        <td>
          <select id="PPiIXQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiIXQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiIXQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiIXQIV" type="text"> </td>
      </tr>
      <tr>
        <td>10</td>
        <td><input id="PPiXName" type="text"></td>
        <td><input id="PPiXAge" type="number" min="1" max="120" onkeypress="validatePositiveInteger(event)"></td>
        <td>
          <select id="PPiXGender">
            <option value="" selected>Mama o babai</option>
            <option value="M">Mama</option>
            <option value="F">babai</option>
          </select>
        </td>
	<td>
          <select id="PPiXQI">
            <option value="" selected>Piliin</option>
            <option value="Di 5-18">Di 5-18 </option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
        </td>
        <td> 
	  <select id="PPiXQII">
            <option value="" selected>Piliin</option>
            <option value="Di 5 o subra">Di 5 o subra</option>
            <option value="Di">Di</option>
	    <option value="Oway">Oway</option>
          </select>
	</td>
        <td> 
	  <select id="PPiXQIII">
            <option value="" selected>Piliin</option>
            <option value="Da galbek">Da galbek</option>
            <option value="Oway">Oway</option>
	    <option value="Di">Di</option>
          </select>
	</td>
        <td> <input id="PPiXQIV" type="text"> </td>
      </tr>
    </tbody>
  </table>

  {% url 'pcari:end' as next_link %}
  {% include 'nav-buttons.html' %}
{% endblock %}
