{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Taks angka so comments o pud a pagusar' %}{% endblock %}
{% block main-heading %}{% trans 'Taks angka so comments o pud a pagusar' %}{% endblock %}

{% block static-assets %}
  {{ block.super }}
  <script src="{% static 'js/d3.v4.min.js' %}"></script>
  <script src="{% static 'js/bloom.js' %}"></script>
{% endblock %}

{% block content %}
  <p>
    {% blocktrans trimmed %}
      Uman isa ko icon na usayan/comment a minibgay o pud a participant/tao. Comment/usay a marani ko oman isa na guyoto so mga pinibgay a sumbag o mga pud ko mga miya-una a mga mehlaged a paka-ehsa.
    {% endblocktrans %}
  <p>
    {% blocktrans trimmed %}
Click angka so icon para mabgay ka so usayan o kapiya nyan. Dapat na kabgan ka sa bapiya bo duwa a comments/usayan para ka mka-ehseg na click anka so "Sunod/pakasunod" sa baba.
    {% endblocktrans %}
  </p>
  <div id="notice"></div>
  <svg id="bloom" width="100%"></svg>
  <div class="modal">
    <div class="modal-container">
      <p>{% trans 'So paka-esa na:' %}</p>
      <blockquote id="question-prompt"></blockquote>
      <p>{% trans 'So pamikasan/comment na:' %}</p>
      <blockquote id="comment-message"></blockquote>

      <div class="range-container">
        <input id="quantitative-input" target-id="comment-rating" type="range"
               value="1" step="1" min="1" max="6">
        <span class="left-anchor">{% trans 'Tehto a di pagayon' %}</span>
        <span class="right-anchor">{% trans 'Tehto a myakaayon' %}</span>
      </div>
      <p>
        {% trans 'So kapapatagan a sumbag na' %} <output id="quantitative-output"></output>.
      </p>

      <ul class="button-group">
        <li>
          <button id="skip" class="red">{% trans 'Pehlepasun' %}</button>
        </li>
        <li>
          <button id="submit" class="blue">{% trans 'Esumbot/Epass' %}</button>
        </li>
      </ul>
    </div>
  </div>
  {% url 'pcari:quantitative-questions' as previous_link %}
  {% url 'pcari:qualitative-questions' as next_link %}
  {% include 'nav-buttons.html' %}
{% endblock %}
